 .home{
    background-color: rgb(240, 243, 245);
    
 }
 

 .know{
   text-align:justify;
   width:600px;
   margin-top: 100px;
   margin-left: 100px;
   color:aliceblue
 }

 .base64{
   width:700px;
   height: 340px;
    margin-left: 100px;
    margin-top: 0px;
 }
 
 .belowheader{
    background-color: rgb(57, 70, 81);
    height: 340px;
    display: flex;
   
 }

 .aggre{
   background-color: rgb(195, 206, 235);
 }
 #aggre{
    display: flex;
   padding-top: 10px;
    margin-left: 230px;
     
 }

 #aggre h3{
    padding-left: 100px; 
    color: rgb(118, 130, 140);
 }

 .accregrater{
    margin-top: 6px;
    margin-left: 560px;
    padding: 30px;
 }
 .accregrater h4{
    margin-left: 70px;
 }

 .cards{
   display:flex;
   margin-left: 20px;
 }
 .card{
   width:300px;
   height:200px;
   background-color: rgb(174, 179, 183);
   margin-left: 130px;
   padding: 25px;
  
 }

  #cardImg{
   
margin-top: 100px;
margin-left: 30px;
   height:400px;
   display: flex;
  }

  .imageine{
   text-align:justify;
   width:600px;
   margin-top: 00px;
   margin-left: 100px;
   padding: 100px;
   color:rgb(8, 9, 10);
   background-color: rgb(210, 215, 225);
   text-align: center;
  }

  .usatoday{
   margin-top: 0px;
   margin-left: 00px;
   width: 600px;
   height:400px
  }

  #lastbase{
   background-color:  rgb(128, 130, 132);
   height: 150px;
   margin-top:40px;
   text-align:justify;
   
   
   padding: 100px;
   color:rgb(247, 249, 251);
  
   text-align: center;
  }


  