 
#back{
    background-color:rgb(211, 228, 240);
    height:80px;
}

.link{
    display: flex;
 
}
#mar{
    margin-left: 30px;
    font-size: 20px;
    text-decoration: none;
     /* color: rgb(9, 129, 233); */
}

#logout{
    background-color: rgb(211, 228, 240);
   
    border: none;
     font-size: 20px;
      

    
}

.fa{
    margin-left: 50px;
}

 

/* 
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right:1px;
    background-color: #9dcfe4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */
